div{
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    overflow: scroll;
    background-color: white;

}
h1{
    text-align: center;
}

hr{
    border: none;
    height: 1px;
    color: black;
    background-color:black;
}