<div class="container">

    <!-- the main form -->
    <div>
        <h1>Login Form</h1>
        <form (ngSubmit)="onSubmit()" #musicForm="ngForm">
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" class="form-control" id="author" name="author" required [(ngModel)]="model.username">
            </div>

            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" name="tittle" required [(ngModel)]="model.password">

            </div>
            <hr>
            <div class="btn-toolbar">
                    <button class="btn btn-success">LOGIN</button>
                    <button class="btn btn-danger" (click)=directTosignup()>SIGNUP</button>
            </div>
            <hr>
            
        </form>
    </div>


</div>
<!-- <div class="userField" style="text-align: center">

    <h2>Login</h2>

    <div class="inputs">
        <input [(ngModel)]="input.username" placeholder="Username"><br>
        <input [(ngModel)]="input.password" type="password" placeholder="Password"><br>
    </div>

    <div class="buttons">
        <button (click)='toSignup()' style="margin-right: 15px">Sign-up</button> 
        <button (click)='loginUser()'>Login</button>
    </div>

</div> -->
