
   section{
    margin: auto;
    max-width: 700px;
  }

  .music-card {
    margin-top: 20px;
  }
  
  
  .title {
    font-size: 1.4em;
    font-weight: 400;
    color: #333;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-family: 'Reem Kufi', sans-serif;
  }
  
  .artist {
    color: #cfcfcf;
    font-size: 1.2em;
    letter-spacing: 0.08em;
    font-family: 'Reem Kufi', sans-serif;
  }

  .button {
    
    display: block;
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #0039a6; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }


 
  