div.main{
    margin: 10px;
    cursor: pointer;
    

}
.image{
    display: block;
    margin: 10px;
    height: 110px;
    width: 105px;
    background-color:rgb(70, 96, 168);
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-radius: 50%;
}

/* div.details{
    background-color: aquamarine;
} */
div.details > p{
    text-align: center;
    color: black;
}