div.main{
    margin: 10px;
    

}
.image{
    display: block;
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color:azure;
    background-image: url("../../../assets/drake.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-radius: 50%;
}

/* div.details{
    background-color: aquamarine;
} */
div.details > p{
    text-align: center;
    color: black;
}