<div class="main-card">
    <div class='music-card playing'>
        <a style="cursor: pointer; " (click)="gotoMusic(music.id)">

            <div class='image' [ngStyle]="{'background-image': 'url(' + music.image + ')'}"></div>

            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
        </a>

        <div class='info'>
            <div>Created: {{music.dateCreated | date :'shortDate'}} at {{music.dateCreated | date :'shortTime'}}</div>
            <h2 class='title'>{{ music.title }}</h2> <span class="explicitIcon" *ngIf="music.isExplicit">E</span>
            <div class='artist'>{{ music.author }}</div>
            <div class="lyrics"><span> <a style="cursor: pointer; " (click)="gotoMusic(music.id)"><I
                            style="color: blue">lyrics</I></a> </span> "{{ music.lyrics.slice(0,20) }} ..."</div>

        </div>
        <div *ngIf="stateOfPlay" (click)="playAudio()">
            <fa name={{stateOfPlay}}></fa>
        </div>


    </div>
</div>