<div class='music-card playing'>
  
    <div class='image' [ngStyle]="{'background-image': 'url(' + music.image + ')'}"></div>
    <div class='wave'></div>
    <div class='wave'></div>
    <div class='wave'></div>

        <div class='info'>
            <div class='title'>{{ music.title }}</div>
            <div class='artist'>{{ music.author }}</div>
            <div><span> <I style="color: blue">lyrics</I> </span> "{{ music.lyrics.slice(0,25) }} ..."</div>
            <a href="/" class="music-details"> <p>Details<span> ></span></p></a>
            <audio src="../../../assets/musics.mp3" controls>
                <source src="../../../assets/musics.mp3" type="audio/mpeg" >
              Your browser does not support the audio element.
              </audio>
           
        </div>
</div>

